/* Tabs Container */
.tabs {
  display: flex;
  list-style: none;
  padding: 8px 16px;
  border-bottom: 2px solid #ccc;
  overflow-x: auto;
  background: #fff;
}

.tabs button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 10px 14px;
  cursor: pointer;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}

.tabs button.active-tab {
  border-bottom: 3px solid #f15a24;
  color: #f15a24;
}

.dishes-list {
  list-style: none;
  padding: 0;
}
@media (max-width: 600px) {
  .tabs button {
    font-size: 14px;
    padding: 8px 12px;
  }
}
